<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ParkIQv1">

	<listeners>
		<listener class-name="parkIQ.utilities.Reporting"/>
	</listeners>
	
	<test name="Park IQ System Test">
		<parameter name="browser" value="chrome" />
		<classes>
		 <class name="parkIQ.testCases.TC_LoginTest_001" />
		  <class name="parkIQ.testCases.TC_ForgotPswrd_001" />
			 <class name="parkIQ.testCases.TC_SuperUser_001"/>
		 <class name="parkIQ.testCases.TC_SuperUser_002" />
		</classes>
	
	</test>

</suite>
